/target/
/.classpath
/.project
/.settings
/setupenv.cmd
/src/lib
/src/main/js/jsonata.js
/src/main/js/parser.js
/src/main/js/signature.js
/src/main/js/datetime.js
/src/main/js/functions.js
/src/main/js/utils.js
